@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@mixin text-header {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #181C2F;
}
@mixin flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
@mixin center-size {
    width: 1280px;
    margin: 0 auto;
}
@mixin main-titles {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    line-height: 54px;
    font-weight: 700;
    color: #000000;
}
@mixin main-bigText {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
}
@mixin main-regularText {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    color: #000000;
}
@mixin main-links-active {
    width: 318px;
    background-color: #67DEBC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 64px;
        color: #ffffff;
        text-transform: uppercase;
    }
}
@mixin main-links-nonActive {
    width: 318px;
    background-color: #F5F5F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    a {
        text-decoration: none;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 50px;
        color: #181C2F;
        text-transform: uppercase;
    }
}

body {
    margin: 0 auto;
}
header {
    margin: 0 auto;
}
.header_container {
    @include flex-row();
    @include center-size();
}
.header_links {
    width: 83%;
    @include flex-row();
}
.header_links_mainlinks_list {
    margin: 0;
    width: 70%;
    @include flex-row();
    list-style-type: none;
    padding-left: 0;
}
.header_link {
    padding-bottom: 2px;
    a {
        @include text-header();
    }
}
.header_vrtLine {
    width: 1px;
    height: 60px;
    background-color: #67DEBC;
}
.header_specLinks {
    margin: 0;
    width: 27%;
    @include flex-row();
    list-style-type: none;
    padding-left: 0;
}
.header_specLink {
    @include flex-row();
    a {
        margin-right: 3px;
    }
}
.main_container {
    @include center-size();
    padding: 30px 0 50px 0;
}
.main_titleBlock {
    @include flex-row();
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.main_titleBlock_text {
    @include flex-column();
    justify-content: flex-start;
    height: 250px;
    h1 {
        @include main-titles();
        margin-bottom: 35px;
    }
    p {
        @include main-bigText();
        line-height: 30px;
    }
}
.aqua {
    color: #67DEBC;
}
.main_topArrow {
    position: absolute;
    left: 445px;
    bottom: -50px;
}
.main_inputTop_container {
    @include flex-column();
    @include center-size();
    margin-top: 100px;
}
.main_inputTop_links {
    @include flex-row();
    align-items: flex-end;
    padding-left: 0;
    list-style-type: none;
    width: 100%;
    margin: 0;
}
.main_inputTop_link {
    @include main-links-nonActive();
}
.main_inputTop_link-active {
    @include main-links-active();
}
.main_inputTop_formWrapper {
    padding: 30px 0 10px 0;
    @include flex-column();
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: #67DEBC -1px 1px 1px;
}
.main_inputTop_formTitles {
    @include flex-row();
    width: 90%;
    justify-content: flex-start;
    justify-self: flex-start;
    P {
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: left;
        margin: 0;
    }
}
.main_inputTop_form {
    margin: 20px auto;
    @include flex-row();
    width: 90%;
}
.main_inputTop_form_link {
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin: 0;
    color: #000000;
    text-decoration-color: #000000;
    text-align: right;

}
#keyword {
    width: 396px;
    height: 50px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D6DCD8;
    border-radius: 10px;
    border: 2px solid #D6DCD8;
    outline: 0;
    outline-offset: 0;
}
#country {
    width: 396px;
    height: 56px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 49px;
    color: #D6DCD8;
    border-radius: 10px;
    border: 2px solid #D6DCD8;
    appearance: none;
    overflow: hidden;
    background: url(../public/countryarrow.png) no-repeat;
    background-position: right;
    outline: 0;
    outline-offset: 0;
}
#btn-top {
    width: 200px;
    background-color: #67DEBC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: 0;
    outline-offset: 0;
}
.keyword {
    width: 42%;
}
.main_advantages_container {
    height: 300px;
    @include center-size();
    @include flex-column();
    margin-top: 100px;
    align-items: flex-start;
    h2 {
        @include main-titles();
        margin: 0;
    }
}
.main_advantages_info {
    @include flex-row();
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: flex-start;
}
.main_advantages_info_blocks {
    @include flex-column();
    width: 15%;
    h3 {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 54px;
        color: #67DEBC;
        margin-bottom: 30px;
    }
    p {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }
}
.main_advantages_info_blocks.wider {
    width: 20%;
}
.main_book_wrapper {
    @include center-size();
    @include flex-column();
    align-items: flex-start;
    margin-top: 100px;
    position: relative;
    h2 {
        @include main-titles();
        margin: 0 0 50px 0;
    }
}
.main_book_container {
    width: 80%;
    background-color: #F9F9F9;
    padding: 0 50px;
}
.main_book_container_text-top {
    @include main-bigText();
    margin: 50px 0;
    line-height: 70px;
}
.main_book_container_text-bottom {
    @include main-bigText();
    margin: 0 0 50px 0;
}
.main_book_form {
    margin: 0 0 50px 0;
    @include flex-row();
}
#bookName {
    width: 200px;
    height: 50px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D6DCD8;
    border-radius: 10px;
    border: 2px solid #D6DCD8;
    outline: 0;
    outline-offset: 0;
    text-align: center;
}
#bookName::placeholder {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D6DCD8;
}
#bookEmail {
    width: 250px;
    height: 50px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D6DCD8;
    border-radius: 10px;
    border: 2px solid #D6DCD8;
    outline: 0;
    outline-offset: 0;
    text-align: center;
}
#bookEmail::placeholder {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #D6DCD8;
}
#btnBookForm {
    width: 450px;
    height: 50px;
    background-color: #67DEBC;
    border-radius: 10px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #ffffff;
    text-transform: uppercase;
}
.main_book_mob {
    position: absolute;
    right: 65px;
}